<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/public.css">
    <link rel="icon" href="/images/masinko-logo-purp.png">
    <link rel="stylesheet" href="/css/bg.css">
    <title>Admin | Sign Up</title>
</head>

<body class="adminLogin flex h-screen justify-center items-center bg-violet-600 font-sans">
    <img src="/images/signup-picture.jpg" alt="" class="absolute w-screen h-screen -z-10 lg:hidden">
    <div
        class="max90 flex bg-gray-950 bg-opacity-80 lg:border-opacity-100 lg:bg-slate-50 rounded-3xl lg:rounded-2xl w-10/12 max-w-screen-sm lg:max-w-screen-lg">
        <div class="w-7/12 hidden lg:block">
            <img src="/images/signup-picture.jpg" alt="A man, vibing" class="rounded-l-2xl max90">
        </div>
        <div class="w-11/12 lg:w-7/12 flex flex-col items-center py-6 justify-center mx-auto">
            <img src="/images/masinko-logo-white.png" alt="Masinqo Logo" class="w-24 h-24 lg:hidden">
            <img src="/images/masinko-logo-purp.png" alt="Masinqo Logo" class="w-24 h-24 hidden lg:block">
            <h1 class="text-4xl text-slate-200 lg:text-purple-800 mb-6 font-normal">Masinqo Admins</h1>
            <form action="" class="flex flex-col items-center w-9/12" id="form">
                <span class="text-red-700 text-center font-semibold mb-3">
                    Note: Admins should not have signup pages that are freely accessible. This page and functionality
                    have been implemented to demonstrate the admin features for the assignment.
                </span>
                <input type="text" placeholder="Email"
                    class="text-slate-100 lg:text-slate-800 block my-2 bg-transparent border-2 rounded-md px-2 py-1 text-lg outline-none border-slate-300 lg:border-violet-400 w-full"
                    id="email">
                <input type="password" placeholder="Password"
                    class="text-slate-100 lg:text-slate-800 block my-2 bg-transparent border-2 rounded-md px-2 py-1 text-lg outline-none border-slate-300 lg:border-violet-400 w-full"
                    id="password">
                <input type="password" placeholder="Confirm Password"
                    class="text-slate-100 lg:text-slate-800 block my-2 bg-transparent border-2 rounded-md px-2 py-1 text-lg outline-none border-slate-300 lg:border-violet-400 w-full"
                    id="password2">
                <button type="submit"
                    class="block bg-violet-200 text-purple-950 text-xl pb-1 px-6 rounded-3xl mt-4 mb-1 border-2 border-violet-200 hover:bg-violet-100 hover:transition-colors active:bg-violet-300">
                    Sign Up
                </button>
            </form>
            <p class="text-slate-100 lg:text-black">
                Already have an accout?
                <a href="/auth/admin/login"
                    class="mb-4 not-italic text-violet-300 lg:text-violet-900 underline hover:no-underline">Login</a>
            </p>
        </div>
    </div>
    <script src="/ts/signup-admin.js"></script>
</body>

</html>