<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/artist-home.css">
    <link rel="icon" href="/images/masinko-logo-purp.png">
    <link rel="stylesheet" href="/css/bg.css">
    <link rel="icon" href="/images/masinko-logo-purp.png">
    <link rel="stylesheet" href="/css/bg.css">
    <link rel="stylesheet" href="/css/public.css">
    <title>Masinqo | Artist Home</title>

</head>

<body class="body bg-gradient-to-br from-black via-gray-800 to-purple-900">
    <div class="w-screen h-screen">
        <header class="w-full flex justify-between py-2 px-5">
            <div id="logo">
                <img class="logo" src="/images/masinko-logo-white.png" alt="logo">
                <h1 class="text-2xl">Masinqo</h1>
            </div>
            <nav class="flex gap-3">
                <div class="flex items-center mx-4" id="toHome">
                    <img class="w-6 h-6" src="/images/home.png" alt="home-icon">
                    <a class="mx-2 text-lg" href="home.html">Home</a>
                </div>
                <div class="flex items-center" id="addIcon">
                    <img class="w-6 h-6" src="/images/add.png" alt="add_mucic-icon">
                    <a class="mx-2 text-lg" href="#">Add Music</a>
                </div>
                <div class="flex items-center" id="toLogout">
                    <img class="w-6 h-6" src="/images/logout.png" alt="logout-icon">
                    <a class="mx-2 text-lg" href="#">Log Out</a>
                </div>
                <img class="menu-icon" src="/images/menu.png" alt="menu-icon">
            </nav>
        </header>
        <main class="main-container">
            <section class="main-container__artist">
                <img class="artist-image" width="100px" src="/images/artistPlaceholder.png" alt="artist-image">
                <p class="artist__header">{{artistName}}</p>
            </section>
            <div id="albumContainer" class="">
                {{!-- ALBUMS --}}
            </div>
        </main>
    </div>
    <footer class="h-10 bg-violet-950 flex justify-center items-center text-lg text-slate-50 py-2">
        <div>Copyright &copy; Masinqo 2024</div>
    </footer>


    <div class="bg-black bg-opacity-75 absolute h-screen w-screen hidden text-slate-50" id="modalContainer">
        <div class="h-full w-full opacity-0 -z-10 " id="modalBackground"></div>
        <div
            class="bg-gray-950 w-9/12 max-w-md h-min absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-10 flex flex-col items-center py-6 border border-fuchsia-600 rounded-lg">
            <div class="flex items-center gap-3">
                <img src="/images/pencil-purp.svg" alt="" class="w-10 h-10">
                <p class="text-3xl">Add Music</p>
            </div>
            <form action="" class="flex flex-col gap-3 my-4 w-8/12 text-white">
                <div class="flex flex-col">
                    <label for="type" class="text-lg mb-1 text-white">Type</label>
                    <select name="type" class="bg-fuchsia-950 py-2 px-2 outline-none rounded-md">
                        <option value="single">Single</option>
                        <option value="Album">Album</option>
                    </select>
                </div>
                <div class="flex flex-col">
                    <label for="albumName" class="text-lg mb-1 text-white">Name</label>
                    <input type="text" name="title" class="bg-slate-900 py-1 px-2 outline-none rounded-md"
                        id="albumNameEl">
                </div>
                <div class="flex flex-col">
                    <label for="genre" class="text-lg mb-1">Genre</label>
                    <input type="text" name="genre" class="bg-slate-900 py-1 px-2 outline-none rounded-md"
                        id="albumGenreEl">
                </div>
                <div class="flex flex-col">
                    <label for="description" class="text-lg mb-1">Description</label>
                    <textarea name="description" rows="3"
                        class="bg-slate-900 py-1 px-2 outline-none rounded-md"></textarea>
                </div>
                <div class="flex flex-col">
                    <label for="cover" class="text-lg mb-1">Cover Image</label>
                    <input type="file" name="albumArt" class="text-center">
                </div>
                <button
                    class="bg-fuchsia-800 border-2 border-fuchsia-800 px-4 pb-2 pt-1 w-min mt-6 mx-auto rounded-3xl hover:bg-transparent hover:text-fuchsia-500 hover:transition-colors transition-colors"
                    type="submit" id="add">
                    Add
                </button>
            </form>
        </div>
    </div>


    <script src="/ts/artist-home.js"></script>
    <script src="/ts/addAlbum.js"></script>
    <script src="/ts/artistHomeModal.js"></script>

</body>

</html>